<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Lista</h1>
    <table>
        <tr>
            <th>Item</th>
        </tr>
        {% for taskmodels in tasksmodel %} {% comment %}sprawdzamy całą baze danych{% endcomment %}
        <tr>
            <th>{{ taskmodels.titel }}</th>{% comment %}przekazywanie wyników w pythonie-django do templatki{% endcomment %}
        </tr>
        {% empty %}{% comment %}stosowane jeśli obiekt jest pusty do wyświetlenia komunikatu{% endcomment %}
            <h3>No item in list</h3>
        {% endfor %}
    </table>
</body>
</html>